body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: none;
}

.row:not(:last-child) {
  margin-bottom: 12px;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.sketch {
  width: 360px;
  height: 360px;
  border: 5px dashed #000000;
}

.btn {
  display: flex;
  border: 5px solid #000000;
  padding: 12px;
  cursor: pointer;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #000;
  background: #fff;
  font-weight: 500;
}

.btn:hover {
  background-color: #000;
  color: #fff;
}
